<ion-header-bar class="bar-stable">
<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/dashboard"></a>

<h1 class="title">camera</h1>
</ion-header-bar>
<ion-content>
     <div class="form-group padding-top">                   
          <button class='button button-positive' data-ng-click="takePicture()">
            take picture
          </button> 
      </div>

      <div class="item item-image">
            <img ng-src="{{cameraPic}}"/>
      </div>                    
  click
</button>

</ion-content>
