  <ion-side-menus>
    <ion-side-menu-content>
      <button ng-click="toggleLeftSideMenu()" class="button button-icon icon ion-navicon">
      </button>
    </ion-side-menu-content>
    <ion-side-menu side="left">
<div class="list">
    <a class="item item-icon-left" href="#/updateUserDetail">
    <i class="icon ion-ios-person-outline"></i>
    {{ user['name'] }}
  </a>

    <a class="item item-icon-left" href="#">
    <i class="icon ion-grid"></i>
    grid demo
  </a>
  <a menu-close class="item item-icon-left" href="#/list">
    <i class="icon ion-ios-list-outline"></i>
    list map
  </a>
    <a menu-close class="item item-icon-left" href="#/map">
    <i class="icon ion-map"></i>
    map demo
  </a>



</div>
    <ion-side-menu>
  </ion-side-menus>