<ion-header-bar class="bar-stable">
<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/dashboard"></a>

<h1 class="title">Welcome {{user.name}}</h1>
</ion-header-bar>

<ion-content>

<div class="list list-inset">
  <label class="item item-input">
    <input type="text" ng-model=user.name placeholder="Name">
  </label>
  <label class="item item-input">
    <input type="text" ng-model=user.email placeholder="Email Id">
  </label>
    <label class="item item-input">
    <input type="text" ng-model=user.companyName placeholder="Company name">
  </label>

    <label class="item item-input">
    <input type="text" ng-model=user.addressLine1 placeholder="Address 1">
  </label>
    <label class="item item-input">
    <input type="text" ng-model=user.addressLine2 placeholder="Address 2">
  </label>
  <label class="item item-input">
    <input type="text" ng-model=user.city placeholder="City">
  </label>
    <label class="item item-input">
    <input type="text" ng-model=user.state placeholder="State">
  </label>
  <label class="item item-input">
    <input type="text" ng-model=user.pincode placeholder="Pincode">
  </label>

  <br>
  <button ng-click="updateUserDetails(user)" class="button button-block button-positive">
  Submit
</button>

</div>
</ion-content>